<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- %-40.40c{1.} : %m%n%ex
            </Pattern>
        </layout>
    </appender>
    
    <logger name="vocalink.demo" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="error">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>